titanium.platform=/Users/9ruvie/Library/Application Support/Titanium/mobilesdk/osx/3.1.3.GA/android
android.platform=/opt/android/platforms/android-10
google.apis=/opt/android/add-ons/addon-google_apis-google-10