titanium.platform=/Users/9ruvie/Library/Application Support/Titanium/mobilesdk/osx/3.2.0.GA/android
android.platform=/opt/android/platforms/android-10
google.apis=/opt/android/add-ons/addon-google_apis-google-10
android.ndk=/opt/android/ndk/android-ndk-r9c
